# Ignorar todo
*

# No ignorar el archivo asdads.html
!CURSO-COMUTACION-ALONSO.jpg
!CVshort.Rmd
!CVshort.pdf
!awesome-cv.cls
!cv_data.R
!fix_sections.tex
!fix_template.tex
!preamble.tex
!.gitignore
.Rproj.user
!CV_onepage.pdf